.container {
	display: flex;
	flex-direction: row;
}

.item {
	padding: 50px;
	text-align: center;
	background: #DDD;
	border: 1px solid #888;
	flex-grow: 1;
}

@media(max-width: 480px) {
	.container {
		flex-direction: column;
	}
}
/*@media (min-width: 600px) {
	.container {
		flex-direction: row;
	}

	.item {
		flex-grow: 1;
	}
}*/