h3 {
  color: #7B1FA2; }

p.content {
  background-color: #7B1FA2;
  padding: 10px;
  color: white; }
  p.content a {
    font-size: 32px;
    color: yellow; }

/*span{
	border-bottom: solid 1px $primary_color;
	color: $text_color;
}
*/
