.h1 {
  font-weight: bold;
  font-size: 32px;
}

.border-1 {
  border: 5px solid red;
  width: 50%;
  padding: 5px;
}

.border-2 {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid blue
}

.border-3 {
  width: 50%;
  padding: 10px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0)
}

/* .border-3 {
  box-shadow: 0 0 0 5px #000, inset 0 0 0 3px blue;
  border: 5px solid #fff;
  outline: 2px solid blue;
} */