body {
	font-family: "Roboto", sans-serif;
	background-image: url(./background.jpg);
	background-size: center;
	background-position: center center;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	position: relative;
	background-color: #16ce7c;
	padding: 3rem 3rem;
	border-radius: 1rem;
	opacity: 0.9;
}

form img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3px;
	background-color: white;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	max-width: 100%;
}

form h2 {
	text-align: center;
	color: #f3f3f3;
	margin-top: 3rem;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}

form input {
	display: block;
	margin: 1rem 0;
	padding: 8px 14px;
	outline: none;
	border-radius: 2rem;
	background-color: #DDD;
	color: tomato;
	font-size: 18px;
}

form button {
	background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
	padding: 8px 16px;
	display: block;
	width: 100%;
	background-color: white;
	border-radius: 15px;
	border: 2px solid gray;
	cursor: pointer;
	margin: 2rem 0 1rem 0;
}



