body {
  font-family: Arial, sans-serif;
}

.menu {
  padding: 0;
  list-style: none;
}

.menu li {
  padding: 8px 16px;
  float: left;
}

.menu li:hover {
  background-color: #EEE;
}

.has-submenu {
  position: relative;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  background-color: #EEE;
}
