.container {
	display: flex;
	max-width: 960px;
	max-height: 1000px;
	margin: 0;
	padding: 5px 5px 5px 0px;
}

.item {
	background: blue;
	margin: 5px;
	color: white;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.item1 {

}